@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 1152px;
    height: 700px;
    font-family: 'Roboto';
    font-style: normal;
    margin: 0px auto;
}

.main-content {
    width: 640px;
    margin: 0 auto;
    padding-left: 40px;
}

.convert-content {
    display: flex;
    gap: 123px;

}



h1 {
    width: 587px;
    height: 32px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 56px;
}

h3 {
    width: 120px;
    height: 28px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    color: #9F9F9F;
    margin-top: 33px;
}



header {
    width: 100%;
    height: 50px;
    background: #F5F5F6;
}



.sing-btn {
    width: 58px;
    height: 33px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    border: none;
    background: white;
}


.head {
    width: 100%;
    height: 50px;
    background: #F5F5F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #959BA4;
    gap: 21px;
    list-style: none;
}

.bank {
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

.currency-left {
    display: flex;
    font-weight: 400;
    Size: 12px;
    line-height: 14.06px;
    align-items: Center;

}

.currency-right {
    display: flex;
    font-weight: 400;
    Size: 12px;
    line-height: 14.06px;
    align-items: Center;

}

input {
    width: 259px;
    height: 102px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding-bottom: 38px;
    padding-left: 15px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: #000000;


}

.input-div {
    margin-top: 20px;
    position: relative;
}

.currency-name {
    border: solid 1px #E5E5E5;
    width: 65.06px;
    height: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C6C6C6;
    cursor: pointer;
    border-right: 0px;

}

.currency-text {
    width: 119px;
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #C6C6C6;
    bottom: 10px;
    left: 17px;
}

.currency-name:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.currency-name:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-right: 1px solid #E5E5E5;
}

.currency-name-active {
    background-color: #833AE0;
    border-color: #833AE0;
    color: white;
}